ul
{
    list-style: none;
    width: 200px;
    height: 500px;
}
ul>li>ul
{
    display: none;
}
    ul>li:hover>ul
{
    display: block;
    height: 100px;

}
.opcion{
    background: green;
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
.subOpcion{
    padding-left: 20px;
    background: greenyellow;
    color:White;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}