@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');

.tabla-posiciones
{
    background-image: url(https://media.istockphoto.com/photos/blue-background-picture-id1168278976?b=1&k=20&m=1168278976&s=612x612&w=0&h=AnWfYO9Uh0PKxY34P2rVULHqSa7EEZ53B_Mh6PKrXSM=);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo-tabla
{
    color: white;
    text-align: center;
    padding-top: 13px;
    margin: 0px;
    font-family: 'Kanit', sans-serif;
    font-size: 34px;
    margin-bottom: -15px;
}

.subtitulo-tabla
{
    color: white;
    text-align: center;
    margin: 0px;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
     
}

.linea-tabla
{
    margin-top: 30px;
    padding: 1px;
    width: 350px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    background: linear-gradient(90deg, rgb(220 219 224) 0%,
     rgb(64 64 166) 35%, rgb(85 177 196) 100%);
     border-radius: 10px;
     filter: opacity(0.4);     
}

table
{
    width: 100%;
    margin-top: 20px;
    color: white;
}
table, th, td
{
    border-collapse: collapse;
}

.encabezados
{
    filter: opacity(0.8);
    background: linear-gradient(90deg, #003fbb 0%, #0077 35%, #009ce3 100%);    
}

th
{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Kanit', sans-serif;
    border-bottom: 3px solid #2592c4;
}

tr
{
    font-size: 25px;
}

.bandera
{
    width: 200px;
}

.caja_relativa 
{
    position: relative;
    width: 300px;
    height: 200px;
    bottom: 20px;
    border: 10px solid blue;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 34px;
    border-radius: 10px;
    margin: 20px;
}

.caja_relativa_overflow 
{
    position: relative;
    width: 300px;
    height: 250px;
    bottom: 20px;
    border: 10px solid blue;
    overflow: scroll;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 34px;
    border-radius: 10px;

}

.caja_absoluta
{
    position: absolute;
    text-align: center;
    width: 200px;
    height: 150px;
    border: 5px solid red;
    top: 20px;
    left: 50px;
    bottom: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 34px;
}

.caja_fija
{
    width: 200px;
    height: 500px;
    position: fixed;
    top: 10px;
    right: 1px;
    border: 5px solid green;
    font-family: 'Kanit', sans-serif;
    font-size: 34px;
}